* {
    padding: 0;
    margin: 0;
    --color:rgba(0, 0, 0, 0.308);
--green: #6f9a37;
     --black-color:(000);
     --black-transparent:rgb(0, 0,0, 0.6);
     --white-color:#dddddd;
     --offwhite-color:#e63636;
--grey: #5c5858;
    --dark-grey: #7b7b7b;
    --blue-color:rgb(65, 206, 206);
}
.body{
    margin-left: 15px;
    background-color:var(--offwhite-color!important);
}
.navbar-brand img{
    width: 70px;
}
.nav-link{
    margin-left:50px ;
}
.nav-item{
margin-right: -15px;
}

.carousel-item.active.vidio{
    position: absolute;
    top: 0%;
    position: absolute;
    z-index: -3;
    height: auto;
}

.hero-text {
    text-align: left;
    color: rgb(212, 212, 212)!important;
    position: absolute;
transform: translatex(30%);
top : 20%;
left: 1px;
}
.hero-text h1{
    color: rgb(191, 104, 104)!important;
    
    font-size: auto;

}