* {
    padding: 0;
    margin: 0;
    --color:rgba(0, 0, 0, 0.308);
--blue: #76a8ff;
     --black-color:(000);
     --black-transparent:rgb(0, 0,0, 0.6);
     --white-color:#dddddd;
     red-color:rgb(191, 104, 104);
--grey: #5c5858;
    
}
.body{
    margin-left: 15px;
    background-color:var(--offwhite-color!important);
}
.navbar-brand img{
    width: 70px;
}
.nav-link{
    margin-left:50px ;
}
.nav-item{
margin-right: -15px;
}

.carousel-item.active.vidio{
    position: absolute;
    top: 1%;
    position: absolute;
    z-index: -5;
    height: 100PX;
}
.vidio-1{
    height: 90%;
}
.hero-text {
    text-align: left;
    color: rgb(212, 212, 212)!important;
    position: absolute;
top : 20%;
font-size: larger;
left: 9%;
}
.hero-text h1{
    color: rgb(191, 104, 104)!important;
font-size: 47px;
    
}
.hero-text h2{
    color: var(--blue);
    font-size: 30px;
    
}
.hero-text p.line{
    color:var(--blue)!important;
    font-size: 30px;
    font-weight: 600;
    
}
.hero-text p.prgh{
    color:rgb(191, 104, 104)!important ;
    font-weight: 500;
}
.butoon .btn{
color: #76a8ff!important;
background-color:var(--blue);
}
.butoon .btn a{
    color:white!important;
font-size: large;
text-decoration: none;
border-radius: 5px;
font-weight: 500;
    }
    .butoon .btn a:hover{
    text-shadow: #76a8ff;
    }
.butoon .btn:hover{
 color:white!important;
font-size: large;
background-color:rgb(191, 104, 104) ;
}